<!DOCTYPE html>
<html>
<head>
    <title>Add Specification</title>
</head>
<body>
    <h1>Add Specification</h1>
    <form method="POST">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br>
        
        <label for="owner_id">Owner:</label><br>
        <select id="owner_id" name="owner_id" required>
            {% for owner in owners %}
                <option value="{{ owner[0] }}">{{ owner[1] }}</option>
            {% endfor %}
        </select><br>
        <select id="document_id" name="document_id" required>
            {% for document in documents %}
                <option value="{{ document[0] }}">{{ document[1] }}</option>
            {% endfor %}
        </select><br>
        
        <input type="submit" value="Save">
    </form>
</body>
</html>