{% extends 'base.html' %}
{% block title %}Documents{% endblock %}
{% block content %}

<h1>Display Documents</h1>
<table>
    <tr>
        {% for category_id in category_names.keys() %}
        <th>{{ category_names[category_id] }}</th>
        {% endfor %}
    </tr>
    
    {% for i in range(max_docs) %}
    <tr>
        {% for category_id in category_names.keys() %}
        <td>
            {% if i < documents_by_category[category_id]|length %}
                {{ documents_by_category[category_id][i] | safe }}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}    