<!DOCTYPE html>
<html>
<head>
    <title>Specification Details</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Specification Details</h1>
    <table>
        <tr>
            <th>Title</th>
            <td>{{ specification[1] }}</td>
        </tr>
        <tr>
            <th>Owner</th>
            <td>{{ specification[2] }}</td>
        </tr>
        <tr>
            <th>Document</th>
            <td>{{ specification[3] }}</td>
        </tr>
        <tr>
            <th>Spec From</th>
            <td>{{ specification[4] }}</td>
        </tr>
        <tr>
            <th>Spec To</th>
            <td>{{ specification[5] }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ specification[6] }}</td>
        </tr>
        <tr>
            <th>Review State</th>
            <td>{{ specification[7] }}</td>
        </tr>
        <tr>
            <th>Specification Type Name</th>
            <td>{{ specification[8] }}</td>
        </tr>
        <tr>
            <th>Specification Type</th>
            <td>{{ specification[9] }}</td>
        </tr>
    </table>
</body>
</html>
